#items-page {
  display: flex;
  flex-direction: column;
}

.app-title {
  color: rgb(75, 71, 71);
  white-space: nowrap;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow:
    1px 1px 0 rgb(237, 175, 100),
    1px 2px 0 grey,
    1px 3px 0 grey,
    1px 4px 0 grey,
    1px 5px 0 grey,
    1px 6px 0 grey,
    1px 7px 0 grey,
    1px 8px 0 grey,
    5px 13px 15px black;
  margin-top: 115px;
}

aside {
  height: 100vh;
  border-right: 3px solid lightgrey;
}

.item-cont {
  margin: 0;
  height: 100vh;
}

.sidebar-item-active {
  background-color: #97bf11;
  color: white;
}

.item-card-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-icon-circle {
  width: 30px;
  height: 30px;
}

.item-card-description {
  font-size: small;
}

.borderless {
  border: none !important;
}

.main-screen-subtitle {
  margin-bottom: 30px;
}

.main-page-handle-left {
  z-index: 100;
  position: absolute;
  top: 50vh;
  width: 60px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #97bf11;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.main-page-handle-right {
  z-index: 100;
  position: absolute;
  top: 50vh;
  right: 0;
  width: 60px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #97bf11;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .item-arena {
    margin-top: 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .item-arena {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
  }
}
