.app-title {
  color: rgb(75, 71, 71);
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow:
    1px 1px 0 rgb(237, 175, 100),
    1px 2px 0 grey,
    1px 3px 0 grey,
    1px 4px 0 grey,
    1px 5px 0 grey,
    1px 6px 0 grey,
    1px 7px 0 grey,
    1px 8px 0 grey,
    5px 13px 15px black;
  margin-left: 50%;
  margin-top: 10%;
}

.app-title:hover {
  transition: 0.3s;
  transform: scale(1.1) translate(-50%, -50%);
  text-shadow:
    1px -1px 0 rgb(180, 239, 54),
    1px -2px 0 rgb(211, 101, 101),
    1px -3px 0 rgb(100, 226, 186),
    1px -4px 0 grey,
    1px -5px 0 grey,
    1px -6px 0 grey,
    1px -7px 0 grey,
    1px -8px 0 grey,
    5px -13px 15px black,
    5px -13px 25px #808080;
}

aside {
  height: 100vh;
  border-right: 3px solid lightgrey;
  width: 16%;
  position: fixed;
}

.items-page {
  margin-top: 200px;
}

.item-cont {
  margin: 0;
  height: 100vh;
}

.swiper {
  width: 99%;
}

.sidebar-items {
  margin-top: 10vh;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
}

.sidebar-item-active {
  background-color: #97bf11;
  color: white;
}

.item-card-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card-icon-circle {
  width: 30px;
  height: 30px;
}

.item-card-description {
  font-size: small;
}

.borderless {
  border: none !important;
}

.main-screen-subtitle {
  margin-bottom: 30px;
}

.main-page-handle-left {
  position: absolute;
  z-index: 100;
  top: 50vh;
  width: 60px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #97bf11;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  left: 15%;
}

.free {
  left: -2.4%;
}

.main-page-handle-right {
  position: absolute;
  z-index: 100;
  top: 50vh;
  right: 0;
  float: right;
  width: 60px;
  height: 50px;
  background-color: #97bf11;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}

.leftfill {
  margin-right: 98% !important;
}

@media only screen and (max-width: 600px) {
  .item-arena {
    margin-top: 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .item-arena {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
  }
}
